body,
html {
    background-color: black !important;
}

h1,
h2,
h3,
h4,
h5,
p {
    color: wheat;
    font-family: sans-serif;
}

.white {
    background-color: lightgrey;
}

.black {
    color: black;
}

.imgContainer {
    height: 20em;
}

.imgContainerHorizontal {
    height: 20em;
}

p.m-4.responsive.text {
    color: gold;
    font-weight: bolder;
    text-shadow: 1px 1px 1px solid black;
}

.verticalImg {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.horizontalImg {
    height: 23.5em;
    width: 40em;
    margin-bottom: 1px;
    object-fit: contain;
}

@media screen and (max-width: 768px) {
    .horizontalImg {
        height: 13em;
        width: 20em;
        margin-bottom: 1px;
    }
    .imgContainerHorizontal {
        height: 13.4587em;
    }
    p.m-4.responsive.text {
        all: revert;
        color: black;
    }
}

.anchor {
    height: 2em;
}

p.m-4.topping {
    color: black;
}

.coeur {
    color: red;
}

h2.mb-3.t {
    color: black;
    margin-top: 1.5em;
}